body{
	font-family: 'Roboto', sans-serif;
}
.logo {
	width: 150px;
}
div.my-container {
	padding: 0 34px;
	margin: 20px 0 0 0 !important;
	width: 100%;
}
nav	{
	padding: 9px 0 !important;
	width: 100%;
	background-color: transparent;
	color: white;
}

.navbar-brand {
	padding: 0px;
}

div.hero-images {
	z-index: -1;
	position: absolute;
	top: 0;
	width: 100%;
	margin: 0 auto;
}

.carousel-item {
	height: 700px;
}
.nav-link {
	text-decoration: none;
	color: white !important;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#navbarSupportedContent {
	text-align: right;
}

 nav button {
	font-weight: 300 !important;
	letter-spacing: 1px;
	background: #E32526 !important;
	color: white;
	margin-left: 10px;
	text-transform: uppercase;
	border: none
	padding: 8px 15px !important;
	border-radius: 2px !important;
}
button:hover {
	background: black !important;
}