body{
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}
.logo {
	width: 150px;
}
div.my-container {
	padding: 0 34px;
	margin: 20px 0 0 0 !important;
	width: 100%;
}
nav	{
	padding: 9px 0 !important;
	width: 100%;
	background-color: transparent;
	color: white;
}


.navbar-brand {
	padding: 0px;
}

div.hero-images {
	z-index: -1;
	position: absolute;
	top: 0;
	width: 100%;
	display: block;
}

.carousel-item {
	height: 90vh;
}
.nav-link {
	text-decoration: none;
	color: white !important;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.nav-link:hover {
	color: lightgrey !important;
}

#navbarSupportedContent {
	text-align: right;
}

 nav button {
	font-weight: 300 !important;
	letter-spacing: 1px;
	background: #E32526 !important;
	color: white;
	margin-left: 10px;
	text-transform: uppercase;
	border: none;
	padding: 8px 15px !important;
	border-radius: 2px !important;
}
button:hover {
	background: black !important;
}
div.col {
	padding: 0 0 0 0;
}
img.img-fluid {
	object-fit: cover !important;
	height: 309.84px;
}
.row1 {
	padding: 0 0 0 0;
}
.row1, .row2 {
	width: 100vw;
}
.bottom-images {
	position: absolute;
	top: 678px;
	display: block;
}
img.d-block.w-100 {
	margin-bottom: 0;
}
.hero-content {
	/*margin: 0 auto;*/
	text-align: center;
	color: white;
	/*font-weight: bold;*/
	/*font-size: 1.75rem;*/
	position: relative;
	top: 150px;
	width: 70vw;
	align-content: center;
	margin-right: 0;
	display: inline-block;
	left: 15%;
}
.header {

}

.paragraph-text {
	font-size: 1.10rem;
}

.hero-button {
	font-weight: 300 !important;
	letter-spacing: 1px;
	background: #E32526 !important;
	color: white;
	text-transform: uppercase;
	border: none;
	padding: 8px 15px !important;
	border-radius: 2px !important;
	margin: 15px 10px;
}
.d-block {
	filter:brightness(50%);
}